
<div class="row">
  <script type="text/javascript">
    slajd();
  </script>
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <span onclick="ustawslajd(1)" style="cursor:pointer;">[ 1 ]</span>
    <span onclick="ustawslajd(2)" style="cursor:pointer;">[ 2 ]</span>
    <span onclick="ustawslajd(3)" style="cursor:pointer;">[ 3 ]</span>
    <span onclick="ustawslajd(4)" style="cursor:pointer;">[ 4 ]</span>
    <span onclick="ustawslajd(5)" style="cursor:pointer;">[ 5 ]</span>
    <div id="slider"></div>
  </div>
  <div class="col-md-4">
    <div id="slider"></div>
  </div>

</div>