<% provide(:title, "Micropost") %>
<p id="notice"><%= notice %></p>

<h1>Listing Micropost</h1>
<%= will_paginate %>
<ul class="microposts">


  <%= render @microposts %>
  <!--< #@users.each do |user| %>
    < #render 'users/user' , user: user #render a partial
    < #end %> -->

</ul>

<%= will_paginate %>


