<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/" target="_blank"> Ruby on Rails Tutorial </a>
    by <a href="http://www.michaelhartl.com/" target="_blank"> Micheal Hartl </a>
    <div id="zegar"></div>
    <script type="text/javascript">
      odliczanie();
    </script>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact to me", contact_path %></li>

      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>

</footer>
